@import '~styles/theme.scss';
$toolbar-height: 52px;

md-toolbar {
  background-color: $color-primary;
  color: $color-font-inverse;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $toolbar-height;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

  [md-button] {
    height: $toolbar-height;
  }

  /deep/ md-toolbar-row { // /deep/ removes the id appended to md-toolbar-row
    height: $toolbar-height;
  }
}
