@import '~normalize.css';
@import 'theme';

$color-body: $color-gray-brightest;

html, body {
  height: 100%;
}

// styles in src/style directory are applied to the whole page
body {
  font-family: $font-family;
  font-size: $base-font-size;
  background: $color-body;
}

a {
  color: #03A9F4;
}
