@import "variables.scss";

/************* THEME *************/

/*** COLORS ***/
$color-primary: #149AC3;
$color-complementary: #C36100;

/*** FONTS ***/
$font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$base-font-size: 16px;
$color-font: $color-gray-darker;
$color-font-inverse: white;

/*** SIDEBAR ***/
$color-sidebar: $color-gray-darker;
