
$color-charcoal: #222;
$color-gray-darker: #444;
$color-gray-dark: #666;
$color-gray: #888;
$color-ash-gray: #aaa;
$color-gray-bright: #ccc;
$color-gray-brighter: #e0e0e0;

$color-font: $color-gray-darker;
