@import '~styles/theme';

md-toolbar {
  display: flex;
  background-color: $toolbar-color;
  color: $toolbar-font-color;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $toolbar-height;
  // box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

  [md-button] {
    height: $toolbar-height;
    background: $color-primary;
  }

  /deep/ md-toolbar-row { // /deep/ removes the id appended to md-toolbar-row
    height: $toolbar-height;
  }

  .search-box {
    flex: 0 0 50%;
  }
}
